<h1>Edit Ferret</h1>

<%= form_for @ferret do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :neutered %>
	<%= f.text_field :neutered %>
	<%= f.collection_select(:charity_id, Charity.all, :id, :name, prompt: "Select Charity") %>
	<%= f.submit "Create Ferret" %>
<%end%>
